<h1 class="animated fadeIn fast">Sobre Comic</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio suscipit dolore delectus rerum, et harum. Voluptatem dolore magnam expedita consectetur beatae. Esse laudantium doloribus labore ipsum optio, sed quibusdam?
</p>