<h1>Héroes <small>Mavel y DC</small></h1>
<hr>
<div class="card-columns">
    <div class="card animate fadeIn fast" *ngFor="let heroe of hereoes; let i = index">
        <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(i)" type="menu" class="btn btn-outline-primary btn-block">
            Ver más...
            </button>
            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">ver más link...</a> -->
        </div>
    </div>
</div>